h1,h2,h3,h4,h5,h6,p,b,i,a,u,strong{
     /* font-family: 'Montserrat', sans-serif;
     font-family: 'Roboto', sans-serif;
     font-family: 'Rubik', sans-serif; */
}
body{
     background-color: white;
}
/* ---------pricing-plan-section--------- */
/* ---------pricing-plan-section--------- */
.pricing-plan-section{}
.pricing-plan-section p{
     font-size: 21px;
     font-weight: 500;
     color: rgb(113, 112, 112);
     width: 42%;
     margin: 0 auto;
}
.pricing-plan-section b{
     font-size: 18px;
     font-weight: 400;
     color:blue;
}
.pricing-plan-section h1{}
.pricing-plan-section h2{}
.pricing-plan-section hr{
     width: 55px;
     height: 2.5px;
     z-index:-1;
     position: relative;
     color:rgb(51, 0, 255);
     opacity: 5;
     margin: 0 auto;
}
/* ------------pricing-item-section---------- */
/* ------------pricing-item-section---------- */
.pricing-item-section{
     text-align: center;
     
}
.pricing-item-section .items{
     
}
.pricing-item-section .items .pricing-item{
     box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
     transition: 1s;
     margin-bottom: 50px;
}
.pricing-item:hover{
     background-color: #2f65ed;
     color:white !important;
     cursor: pointer;
}
.pricing-item:hover b,h1{
     color:white !important;
}
.pricing-item:hover p{
     color: rgb(215, 208, 208);
}
.pricing-item:hover .hover{
     opacity: 1;
     visibility: visible;
}
.pricing-item-section b{
     font-size: 22px;
    font-weight: 600;
    color: #424242;
}
.hover{
     opacity: 0;
     visibility: hidden;
     transition: 1s;
}
.pricing-item:hover button{
     background-color: white;
     color: #2f65ed;

}
.pricing-item-section h1{
     font-size: 53px;
     font-weight: 500;
}
.pricing-item-section p{
     font-size: 20px;
     font-weight: 400;
     color: rgb(113, 112, 112);
}
.pricing-item-section hr {
     width: 70%;
     margin: 0 auto;
 }
 /* btn-section */
.pricing-item-section button{
     border-radius: 25px;
     font-size: 18px;
     position: relative;
     transition: 1s;
     z-index: 1;
     overflow: hidden;
     padding: 10px 20px;
}
.pricing-item-section button::before{
     content: "";
     position: absolute;
     top:0;
     left:0;
     width: 0%;
     height: 100%;
     border-radius: 25px;
     transition: 1s;

}
.pricing-item-section button:hover{
     color: white !important;
     border: 1px solid white;
}
.pricing-item-section button:hover::before{
     width: 100%;
     height: 100%;
     z-index: -1;
     background-color:rgba(0, 0, 249, 0.8);
}
/* --------banner-section------- */
/* --------banner-section------- */
.banner-section{
     background-image: url(./img/free-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    background-position-y: -88px;
}
.banner-title h1{
     width: 38%;
     margin: 0 auto;
}
.banner-title p{
     width: 38%;
     margin: 0 auto;
     font-size: 20px;
}
.banner-section hr{
     width: 55px;
     height: 2px;
     z-index:-1;
     color:rgb(255, 255, 255);
     opacity: 5;
     margin: 0 auto;
}
.banner-section button{
     color:rgba(0, 0, 255, 0.79);
     font-size: 20px;
     font-weight: 500;
     padding: 13px 25px !important;
     border-radius: 25px;
     margin-top: 50px;
     position: relative;
     z-index: 1;
}
.banner-section button::after{
     content: "";
     position: absolute;
     width: 0%;
     height: 100%;
     background-color:rgba(0, 0, 255, 0.79);
     top: 0;
     left: 0;
     border-radius: 25px;
     visibility: hidden;
     opacity: 0;
     transition: 1s;
     z-index: -1;
}
.banner-section button:hover::after{
     visibility: visible;
     opacity: 1;
     width: 100%;
}
.banner-section button:hover{
     Color:white !important;

}
.banner{
     background-color: rgba(3, 41, 255, 0.758);
     padding: 100px 0;
}
/* ---------------business-card-section------------ */
/* ---------------business-card-section------------ */
.business-card-section{
}
.business-card-section .card-1{
     background-color: rgba(0, 0, 255, 0.79);
     padding: 50px;
     color:white;
}
.card-1 p{
     font-size: 20px;
}
.email{
     width: 100%;
     padding: 5px;
     border-radius: 20px;
     border: none;
     font-size: 20px;
     padding-left: 20px !important;
}
.card-item-2 button{
     border-radius: 23px;
     border: 2px solid white;
     font-weight: 500;
     font-size: 18px;
     background-color: rgba(0, 0, 255, 0.79);
     width: 170px;
     color:white;
     padding: 5px;
}
.card-2 button{
     font-size: 18px;
     font-weight: bold;
}
.card-2 b{
     font-size: 25px;
}
.card-2{
     box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
     height: 308px;
     padding: 50px;
     display: flex;
     flex-wrap: wrap;
     align-content: space-between;
     
}